.site-heading {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 46px;
}

.site-murmur {
  margin-left: 20px;
  word-spacing: 5px;
  font-size: 20px;
  font-style: Italic;
  color: #909090;
}

#blogcontent {
  margin-bottom: 70px;
}

a.ablack {
  text-decoration: none;
}

#all_posts {
  margin-top:24px;
  text-align:center;
}

#all_posts a {
  text-decoration:none;
}

.subtitle {
  font-size:12px;
  /*padding-top: 3px;*/
  /*margin-bottom: -18px;*/
  height: 55px;
}

.content p {
  margin-left:24px;
  margin-right:24px;
  font-size:17px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0;
}

.allposts_header {
  color: #ebebeb;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 200;
  margin-left: -20px;
}

iframe {
  display: block;
  margin: 0 auto;
}

#twitter {
  line-height:20px;
  vertical-align:top;
  text-align:right;
  font-style:italic;
  color:#333;
  margin-top:24px;
  font-size:14px;
}

.photocredit {
  font-size: 14px;
  text-align: right;
  font-style: italic;
  display:block;
}

.readmore {
  font-style: italic;
}

.readmore a {
  text-decoration: none;
}
